<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Cuenta</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
      }

      h1 {
        font-size: 36px;
        color: #333333;
        margin-bottom: 20px;
      }

      h2 a {
        text-decoration: none;
        color: #0078d4;
        font-weight: bold;
        font-size: 23px;
      }

      header {
        margin-bottom: 50px;
        position: relative;
        top: 30px;
      }

      header a {
        text-decoration: none;
        color: #0078d4;
        font-size: 18px;
        font-weight: bold;
      }

      header a:hover {
        color: #0056b3;
      }

      form {
        text-align: center;
        max-width: 400px;
      }

      button[type="submit"] {
        background-color: #0078d4;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        margin-bottom: 20px;
      }

      button[type="submit"]:hover {
        background-color: #0056b3;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="number"],
      textarea,
      select {
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 10px;
      }

      input[type="number"] {
        width: 25%;
      }

      select {
        width: 50%;
        margin: 10px;
      }

      textarea {
        height: 100px;
        margin-bottom: -5px;
      }

      .delete-account button {
        background-color: #e74c3c;
        width: 100%;
        padding: 10px;
      }

      .delete-account button:hover {
        background-color: #a93225;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" style="margin-right: 20px">Inicio</a>
      <a href="/users" style="margin-right: 20px">User Search</a>
      <a href="/logout" style="margin-right: 20px">Cerrar Sesión</a>
    </header>

    <h1>Bienvenido a tu cuenta, <%= user.name %>!</h1>
    <p>Nombre de usuario: <%= user.username %></p>
    <p>Correo electrónico: <%= user.email %></p>

    <!-- Formulario para crear review -->
    <div style="margin-top: 20px">
      <h2>Dejar una reseña</h2>
      <form action="/account/review" method="POST">
        <input
          type="text"
          id="movie-search"
          placeholder="Título de la película..."
        />

        <!-- Lista desplegable de películas filtradas -->
        <select id="movie-select" name="movie_id" required>
          <option value="">Elige la película...</option>
        </select>

        <br /><br />
        <textarea
          name="review"
          placeholder="Escribe tu reseña aquí..."
          required
        ></textarea>
        <br /><br />
        <label for="rating">Calificación (1-5):</label>
        <input
          type="number"
          name="rating"
          min="1"
          max="5"
          step="0.1"
          placeholder="Calificación (1-5)"
          required
        />
        <br /><br />
        <button type="submit">Enviar reseña</button>
      </form>
    </div>

    <script>
      const movieSearchInput = document.getElementById("movie-search");
      const movieSelect = document.getElementById("movie-select");

      movieSearchInput.addEventListener("input", function () {
        const query = movieSearchInput.value;

        if (query.length >= 2) {
          // si no da al menos 2 characters no acepta la query
          fetch(`/buscar-pelicula?q=${encodeURIComponent(query)}`)
            .then((response) => response.json())
            .then((data) => {
              movieSelect.innerHTML =
                '<option value="">Selecciona una película...</option>';
              data.movies.forEach((movie) => {
                const option = document.createElement("option");
                option.value = movie.movie_id;
                option.textContent = movie.title;
                movieSelect.appendChild(option);
              });
            })
            .catch((error) => {
              console.error("Error al buscar películas:", error);
            });
        } else {
          movieSelect.innerHTML =
            '<option value="">Selecciona una película...</option>';
        }
      });
    </script>

    <h2><a href="/mod_rev">Modificar tus reseñas</a></h2>
    <h2><a href="/user/<%= user_id %>">Ver tus reseñas</a></h2>

    <h2>Modificar datos</h2>
    <!-- Formulario para modificar la cuenta -->
    <form action="/account/edit" method="POST">
      <input
        type="text"
        name="username"
        placeholder="Nuevo username"
        value="<%= user.username %>"
        required
      />
      <input
        type="text"
        name="name"
        placeholder="Nuevo nombre"
        value="<%= user.name %>"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="Nuevo correo electrónico"
        value="<%= user.email %>"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Nueva contraseña (opcional)"
      />
      <button type="submit">Actualizar mi cuenta</button>
    </form>

    <!-- Formulario para eliminar la cuenta -->
    <div class="delete-account">
      <h2>Eliminar usuario</h2>
      <form action="/account/delete" method="POST">
        <button type="submit">Eliminar mi cuenta</button>
      </form>
    </div>
  </body>
</html>
