<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Resultados de la Búsqueda por Palabra Clave</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      #content {
        margin: 0 auto;
        max-width: 800px;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="inicio"><a href="/">Inicio</a></div>
    </header>
    <div id="content">
      <h1>Resultados de "<%= searchTerm %>"</h1>

      <% if (movies.length > 0) { %>
      <ul>
        <% movies.forEach(function(movie) { %>
        <li>
          <a href="/pelicula/<%= movie.movie_id %>"
            ><strong><%= movie.title %></strong></a
          >
          (<%= movie.release_date %>) - <%= movie.keyword_name %>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>No se encontraron películas para esta palabra clave.</p>
      <% } %>
    </div>
  </body>
</html>
