<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Perfil del Usuario</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" style="margin-right: 20px">Inicio</a>
      <a href="/users" style="margin-right: 20px">User Search</a>
    </header>
    <h1>Perfil del Usuario</h1>
    <h2>Reseñas de <%= user.username %></h2>
    <% if (reviews.length === 0) { %>
    <p>Este usuario no tiene reseñas.</p>
    <% } else { %>
    <ul>
      <% reviews.forEach(function(review) { %>
      <li>
        <a href="/pelicula/<%= review.movie_id %>"><%= review.title %></a>
        <br />
        <%= review.review %>
        <br />
        Puntuación: <%= review.rating %>
        <br /><br />
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
